@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    /* font-family: 'Comfortaa', cursive; */
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

/* HEADER */
header {
    background-color: white;
    position: fixed;
    width: 100%;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.header-wrapper {
    width: 1150px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
}

.logo div {
    font-size: 24px;
}

nav {
    display: flex;
    align-items: center;
}

.menu a {
    color: #707070;
    font-size: 12px;
    margin-right: 60px;
}

.menu img {
    height: 30px;
}

.sidebar{
    display: none;
}


/* MAIN */
main {
    padding-top: 70px;
}

.intro {
    height: 65vh;
    background-image: url("./images/intro.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}

.intro-header {
    font-size: 2em;
}

.intro p {
    font-size: 18px;
    margin: 17px 0px 45px 0px;
    font-family: 'Comfortaa', cursive;
}

.button-main {
    font-size: 14px;
    padding: 10px 50px;
    background-color: #C3B778;
    border-radius: 5px;
    color: white;
}

.section-name {
    padding-bottom: 6px;
    border-bottom: 1px solid black;
    margin: 45px auto 35px auto;
    width: max-content;
    color: #707070;
    font-size: 18px;
}

/* CATEGORIES */

.categories {
    display: flex;
    justify-content: space-between;
    width: 1150px;
    margin: 0 auto;
    margin-bottom: 100px;

}

.category {
    background-image: url("./images/materials.png");
    background-size: cover;
    height: 370px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    color: white;
    border-radius: 5px;
}

.category-name {
    font-size: 2em;
    width: 90%;
    text-align: center;
}

.category-button {
    padding: 11px 22px;
    font-size: 12px;
    background-color: #D8A92F;
    border-radius: 5px;
    color: black;
    margin: 27px 0px 140px 0px;
}


.works {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1150px;
    margin: 0 auto;
}

.work {
    margin-bottom: 50px;
    width: 350px;
    height: 370px;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.work img {
    height: 100%;
}

.container {
    max-width: 1150px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    background-color: #875030;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 20px;
}

.footer-col ul {
    list-style: none;
}

.footer-col h4 {
    font-size: 18px;
    color: #F8D3BF;
    text-transform: capitalize;
    margin-bottom: 25px;
    font-weight: 500;
    position: relative;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #F8D3BF;
    text-decoration: none;
    font-weight: 300;
    color: #FFDAAF;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #FFFFFF;

}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.footer-col .footer-tex {
    color: #FFDAAF;
}

/*responsive*/

@media (max-width: 1150px) {
    .header-wrapper {
        width: 100%;
    }

    .categories, .works{
        width: 768px;
    }

    .category{
        width: 230px;
        height:250px;
    }

    .category-name{
        font-size: 1.5em;
    }

    .category-button{
        margin-bottom: 50px;
    }


}

@media(max-width: 767px) {
    .intro-header{
        display: none;
    }

    .intro p{
        display: none;
    }

    .button-main{
        display: none;
    }

    .footer-col {
        width: 50%;
    }

    nav{
        display: none;
    }
    .sidebar{
        display: block;
    }

    .categories, .works{
        width: 100%;
    }

    .categories{
        flex-wrap: wrap;
        justify-content: center;
    }

    .category{
        margin: 20px;
    }

    .work{
        width: 200px;
        height: 220px;
    }

}

@media(max-width: 426px) {
    .footer-col {
        width: 100%;
    }
    .categories, .works{
        width: 100%;
    }

    .works{
        justify-content: center;
    }

    .work{
        width: 100%;
        height: 300px;
        justify-content: center;
        align-items: center;
    }

    .work img{
        width: 100%;
        height:fit-content;
    }

}