<section class="about-me">
    <img src="../images/assel.jpg" alt="Асель в мастерской">
    <p>Я уже несколько лет занимаюсь макраме. Это не просто хобби, но и моя страсть. Каждый раз, когда я начинаю создавать что-то новое, я погружаюсь в свой мир, полный красок и форм. Я использую различные материалы и техники, чтобы создавать уникальные работы, которые подойдут для любого интерьера.</p>
    <p>Я считаю, что каждый может научиться макраме, даже если у вас нет творческого опыта. Мои уроки основаны на простых техниках и понятных инструкциях. Я убеждена, что макраме может стать вашим новым любимым хобби, которое позволит вам расслабиться и проявить свою креативность.</p>
    <a href="#" class="btn">Записаться на уроки</a>
</section>