/* form styles */

html{
  font-family: Arial;
}
a{
  text-decoration: none;
}
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 24px;
  background-color: #f2f2f2;
  border-radius: 8px;
}


  .edit-img{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
  }

  .edit-img img{
    width: 50%;
  }