.products-wrapper {
    width: 90%;
    margin: 0 auto;
}

.product-category {
    color: #707070;
    font-size: 18px;
    margin-top: 50px;
}

.products {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.products::after{
    content: "";
    flex: auto;
}

.product {
    width: 23%;
    margin-top: 20px;
}

.product a{
    text-decoration: none;
    color: black;
}


.product-img {
    aspect-ratio: 133/166;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.product-img img {
    height: 100%;
}

.product-title,
.product-price {
    font-size: 18px;
    text-align: center;
    margin-top: 6px;
}

.product-button {
    background-color: #C3B778;
    padding: 10px;
    font-size: 14px;
    width: max-content;
    margin: 6px auto;
    border-radius: 5px;
    color: white;
}







.prod {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto 0px auto;
}

.prod-left {
    width: 60%;
}

.prod-right {
    width: 35%;
}

.prod-left img {
    width: 100%;
    margin-bottom: 20px;
}

.prod-category {
    color: #707070;
    margin-bottom: 20px;
    font-size: 12px;
    text-transform: uppercase;
}

.prod-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.prod-price {
    margin-bottom: 20px;
}

.prod-desc {
    color: #707070;
    margin-top: 20px;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {

}

@media all and (max-width: 1024px) {
    .product{
        width: 30%;
    }
}

@media all and (max-width: 768px) {
    .prod {
        flex-direction: column;
    }

    .prod-left {
        width: 100%;
    }

    .prod-right {
        width: 100%;
    }

    .product{
        width: 48%;
    }
}

@media all and (max-width: 600px) {
    .products-wrapper{
        width: 90%;
    }

    .products{
        gap: 0px;
    }

    .product-title, .product-price{
        font-size: 16px;
    }
}

@media all and (max-width: 480px) {
    .product-button{
        font-size: 12px;
    }
}