.store-wrapper{
    width: 1150px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.store-item{
    width: 48%;
    aspect-ratio: 3/4;
    height: auto;
    border-radius: 5px;
}

.store-img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.store-img img{
    width: 100%;
    height: 100%;
}

.store-title{
    font-size: 24px;
}
.store-price {
    font-size: 24px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.store-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    transition: 0.5s;
}

.store-item:hover .store-text{
    max-height: 20%;
}

@media (max-width: 1150px) {
    .store-wrapper {
        width: 768px;
        justify-content: space-around;
    }

    .store-item{
        width: 350px;
        height: 500px;
    }

    .store-img{
        width: 350px;
        height: 350px;
    }
}

@media (max-width: 769px) {
    .store-wrapper {
        width: 600px;
    }

    .store-item {
        width: 290px;
        height: 440px;
    }

    .store-img{
        width: 290px;
        height: 290px;
    }
}

@media (max-width:600px){
    .store-wrapper {
        width: 100%;
        padding: 20px;
    }

    .store-item {
        width: 100%;
    }

    .store-img{
        width: 100%;
    }
}